indexer/*/*.xml
optimization/*/*.xml

# Remove running status file
nelder-mead-optimization/*.txt

# Remove Intellij directories
optimization/.idea
indexer/.idea
.idea/workspace.xml
*.iml
indexer/.idea/workspace.xml
indexer/.idea/workspace.xml
indexer/.idea/workspace.xml
indexer/.idea/workspace.xml
optimization/.idea/.name